*.sw?
.DS_Store
deploy/cloudlab/ansible/roles/ceph-ansible/
deploy/cloudlab/ansible/ansible.log
deploy/cloudlab/ansible/ceph-ansible/
deploy/cloudlab/ansible/hosts.yaml
deploy/cloudlab/geni/manifest.xml
venv
