[submodule "build/ceph"]
	path = build/ceph
	url = https://github.com/ceph/ceph
[submodule "deploy/ceph-deploy-ansible"]
	path = deploy/ceph-deploy-ansible
	url = https://github.com/KDahlgren/ceph-deploy-ansible.git
[submodule "deploy/ceph-deploy-popper"]
	path = deploy/ceph-deploy-popper
	url = https://github.com/KDahlgren/ceph-deploy-popper.git
