cluster:
  user: {{ hosts['all']['mon']['ansible_user'] }}
  head:
  - {{ hosts['all']['mon']['ansible_host'] }}
  clients:
  - {{ hosts['all']['mon']['ansible_host'] }}
  mons:
  - {{ hosts['all']['mon']['ansible_host'] }}
  osds:
  {%- for o in hosts['children']['osds']['hosts'] %}
  - {{ hosts['all'][o]['ansible_host'] }}
  {%- endfor %}

  osds_per_node: 1

  iterations: 3
  rebuild_every_test: False
  pool_profiles:
    replicated:
      pg_size: 128
      pgp_size: 128
      replication: 1

benchmarks:
  radosbench:
    op_size: [16384, 65536, 262144, 1048576]
    write_only: False
    time: 300
    concurrent_ops: [128]
    concurrent_procs: 1
    use_existing: True
    pool_profile: replicated
